<a routerLinkActive="active" routerLink="/pokemonslist" class="link-dark"
  >Back to list</a
>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name of pokemon</label>
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Type</label>
    <select class="form-control" id="exampleFormControlSelect1"></select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">lvl</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Abilities Evolutions</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
  <button class="btn btn-block btn-primary">Update</button>
</form>
