<div class="card border" style="width: 18rem; height: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Pokedec - Lite</h5>
      <hr style="border: solid 1px; width: 100%;" />

      <!-- <button type="button" class="btn btn-default btn-circle"><i class="fa fa-check"></i> -->

      <div class="panel panel-default">
        <!-- /.panel-body -->
        <!-- get all the trainers pokemons from database -->
        <div class="row">
            <div class="col-md-12 col-md-offset-2">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">col-2</div>
                    <div class="col-10">col-10</div>
                    <div class="col-5">col-2</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-md-offset-2">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5">col-2</div>
                      <div class="col-10">col-10</div>
                      <div class="col-5">col-2</div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <button (click)="HideForm()" [hidden]="!formVisibility"  type="button" class="btn btn-default btn-circle">
        Close 
      </button>

    <button (click)="ShowForm()"  type="button" class="btn btn-default btn-circle">
      New
    </button>

  
   
  </div>

  <div [hidden]="!formVisibility">
    <form (submit) = "savePokemons()">
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="pokemon.pokemonName"
            name="pokemonName"
            class="form-control text-center"
            placeholder="pokemonName"
            required
          />
          <input
            type="text"
            [(ngModel)]="pokemon.type"
            name="type"
            class="form-control text-center"
            placeholder="type"
            required
          />
          <input
            type="text"
            [(ngModel)]="pokemon.level"
            name="level"
            class="form-control text-center"
            placeholder="level"
            required
          />
          <input
            type="text"
            [(ngModel)]="pokemon.abilities"
            name="abilities"
            class="form-control text-center"
            placeholder="abilities"
            required
          />
        </div>
        <button (click)="HideForm()"  type="submit" class="btn btn-primary btn-block">
          add pokemon
        </button>
        
      </form>
      
</div>
